# fish — only track config.fish and touchtoggle.fish
fish/.config/fish/completions/
fish/.config/fish/conf.d/
fish/.config/fish/fish_variables
fish/.config/fish/fish_variables*
fish/.config/fish/fish_plugins
fish/.config/fish/functions/*
!fish/.config/fish/functions/touchtoggle.fish

fishd.tmp*
qutebrowser/.config/qutebrowser/__pycache__
qutebrowser/.config/qutebrowser/qsettings/QtProject.conf
