[core]
    editor = nvim
[user]
    email = nullalef@gmail.com
    name = alefnull
[color]
    ui = auto
[hub]
    protocol = ssh
[merge]
    tool = vimdiff
[mergetool "vimdiff"]
    path = nvim
[alias]
	switch = !/home/alef/.local/bin/legit switch
	sync = !/home/alef/.local/bin/legit sync
	publish = !/home/alef/.local/bin/legit publish
	unpublish = !/home/alef/.local/bin/legit unpublish
	undo = !/home/alef/.local/bin/legit undo
	branches = !/home/alef/.local/bin/legit branches
[init]
	defaultBranch = main
