window {
    background-color: rgba(16, 16, 16, 0.8);
    background-image: none;
    box-shadow: none;
}

button {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border: none;
    padding: 8px;
}

button:hover>image {
    -gtk-icon-shadow: none;
    -gtk-icon-effect: none;
}

.highlighted-button {
    background-color: rgba(48, 48, 48, 0.8);
    padding: 4px;
}

.highlighted-button>image, .highlighted-button:hover>image {
    -gtk-icon-effect: none;
}
