@import url(".config/wofi/colors.css");

* {
    font-family: "JetBrainsMono Nerd Font", "Hack", monospace;
    font-size: 16px;
    border: none;
    border-radius: 0px;
}

window {
    border-radius: 0px;
    border: 1px solid @foreground
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: 1px solid @foreground;
    background-color: @background;
    color: @foreground;
}

#inner-box {
    background-color: @background;
}

#outer-box {
    margin: 2px;
    padding: 10px;
    background-color: @background;
}

#scroll {
    margin: 5px;
}

#text {
    padding: 4px;
    color: @foreground;
}

#entry:nth-child(even){
    background-color: @background;
}

#entry:selected {
    background-color: @foreground;
}

#text:selected {
    background: transparent;
    color: @background;
}
